In [2]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.1.3-cp37-cp37m-macosx_10_9_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 2.0 MB/s eta 0:00:01     |██████▉                         | 2.1 MB 2.0 MB/s eta 0:00:04
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 14.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rommelvillagomez/Library/Python/3.7/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/rommelvillagomez/Library/Python/3.7/lib/python/site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.3 pytz-2020.1

In [5]:
import pandas as pd;
df = pd.read_csv('books.csv')

             bookID  ratings_count  text_reviews_count
count  11126.000000   1.112600e+04        11126.000000
mean   21312.553119   1.793810e+04          541.913176
std    13092.839172   1.124844e+05         2576.285268
min        1.000000   0.000000e+00            0.000000
25%    10292.500000   1.040000e+02            9.000000
50%    20301.000000   7.450000e+02           47.000000
75%    32104.750000   4.994750e+03          237.750000
max    45641.000000   4.597666e+06        94265.000000
Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher', 'Unnamed: 12'],
      dtype='object')

In [ ]:
# how many records
# cols
print(df.describe());
print(df.columns);
# df.count() df.dtypes()

In [20]:
# which books has the most reviews, average rating of the book

df.sort_values('ratings_count', ascending = False).head(1)[['title', 'average_rating']]
# print(qq)

                         title average_rating
10339  Twilight (Twilight  #1)           3.59

In [26]:
# which has the highest average rating
max_value = df['average_rating'].max()
df[df['average_rating']==max_value][['title', 'average_rating']]

                                                   title average_rating
624    Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...              5
786                    Willem de Kooning: Late Paintings              5
855    Literature Circle Guide: Bridge to Terabithia:...              5
1242   Middlesex Borough (Images of America: New Jersey)              5
4125   Zone of the Enders: The 2nd Runner Official St...              5
4789   The Diamond Color Meditation: Color Pathway to...              5
4934   Bulgakov's the Master and Margarita: The Text ...              5
5024   The Complete Theory Fun Factory: Music Theory ...              5
5475   The Goon Show  Volume 4: My Knees Have Fallen ...              5
5477   The Goon Show  Volume 11: He's Fallen in the W...              5
5648                                 Winchester Shotguns              5
5649   Colossians and Philemon: A Critical and Exeget...              5
6186                           Taxation of Mineral Rents              5
6249                         The New Big Book of America              5
6777   Delwau Duon: Peintiadau Nicholas Evans = Symph...              5
8546        Fanning the Flame: Bible  Cross  and Mission              5
9285   Oliver Wendell Holmes in Paris: Medicine  Theo...              5
9327                  Tyrannosaurus Wrecks (Stanley  #1)              5
9723       The Irish Anatomist: A Study of Flann O'Brien              5
9850   The American Campaign: U.S. Presidential Campa...              5
9896   His Princess Devotional: A Royal Encounter Wit...              5
10265         Bill Gates: Computer Legend (Famous Lives)              5